.login-wrapper{
	position: relative;
	.row{
		margin-top: 6em;
		margin-bottom: 6em;

		.form-content{
			background: $white;
			display: flex;
			flex-direction:column;
			float: none;
			margin: 0 auto;
			padding: 5em 1em;
			text-align: center;



			header{
				@include oswald-regular;
				margin-bottom: 2.5em;
				line-height: 24px;
				margin: 2.5em auto;
				padding: 0;
				width: 38vw;

				h1 {
					font-family: inherit;
					font-size: 2em;
					font-weight: 500;
					line-height: 1.1;
					margin-bottom: 1em;
				}

				p {
					@include roboto-light;
				}
			}


			.made-in-usa{
				width: 150px;
			    left: -1em;
			    position: absolute;
			    top: -2%;
			}

			.form-list {
				align-items: center;
				display: flex;
				flex-direction: column;
				margin: 0;

				li{
					display: inline-block;
					float: none;
					margin-bottom: 1em;
					padding: 0; //edited 04/03/17
					text-align: left;
					width: inherit;//edited 04/03/17

					label{
						@include roboto-light;
						display: block;
						margin-bottom: .5em;
					}

					input {
						border: 1px solid #ccc;
						border-radius: 4px;
				    background-image: none;
				    background-color: #fff;
						height: 2.5vw;
						outline: none;
				    width: 29vw;

					}

					textarea{
						border: 1px solid #ccc;
						border-radius: 5px;
						height: 100px;
						padding: .5em 1em;
						width: 29vw;
					}
				}
			}

			button{
				@include roboto-bold;
				background: $red;
				border: none;
				border-radius: 5px;
				color: $white;
				margin: auto;
		    width: 40%;
		    padding: 1em 0;

				&:hover {
					background: darken($red, 10%);
				}
			}

			p {
				margin: 5px;
			}

			span{
				color: #c00015;
				font-weight: bold;
			}
		}

		div {
			float: none;
			margin: 0 auto;
			padding: 0;
		}
	}
}

@include break(tablet){
		.form-content {
					header {
							width:60vw;
					}
					.made-in-usa {
							left:-1em;
							top: 1%;
							width: 120px;
					}
					.form-list {
							input {
								height: 5.5vw;
								width: 50vw;
							}
							textarea {
								width: 50vw;
							}
					}
					button{
						width: 45%;
					}
		}
}

@include break(phone){
		.form-content {
					header {
							width:17em;
					}
					.made-in-usa {
							left:-1em;
							top: 1%;
							width: 100px;
					}
					.form-list {
							input {
								height: 11.5vw;
								width: 69vw;
							}
							textarea {
								width: 69vw;
							}
					}
					button{
						width: 65%;
					}
		}
}
